.button {
  display: block;
  align-items: center;
  padding: 22px 81px;
  background: #cd4d31;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: Raleway , sans-serif;
  line-height: 100%;
  white-space: nowrap;
  color: $c-gray;
}
