@import "reset";
@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "burger";
@import "events";

html {
  font-family: Raleway , sans-serif;
  scroll-behavior: smooth;
}

body {
  background: $light-gray;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-x: hidden;
  
  
}
